<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>哈尔滨</string>
		<key>spell</key>
		<string>Haerbin</string>
		<key>abbreviativeName</key>
		<string>HEB</string>
		<key>Plcityid</key>
		<string>230100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大连</string>
		<key>spell</key>
		<string>Dalian</string>
		<key>abbreviativeName</key>
		<string>DL</string>
		<key>Plcityid</key>
		<string>210200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>南京</string>
		<key>spell</key>
		<string>Nanjing</string>
		<key>abbreviativeName</key>
		<string>NJ</string>
		<key>Plcityid</key>
		<string>320100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>苏州</string>
		<key>spell</key>
		<string>Suzhou</string>
		<key>abbreviativeName</key>
		<string>SZ</string>
		<key>Plcityid</key>
		<string>320500</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杭州</string>
		<key>spell</key>
		<string>Hangzhou</string>
		<key>abbreviativeName</key>
		<string>HZ</string>
		<key>Plcityid</key>
		<string>330100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>厦门</string>
		<key>spell</key>
		<string>Xiameng</string>
		<key>abbreviativeName</key>
		<string>XM</string>
		<key>Plcityid</key>
		<string>350200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>郑州</string>
		<key>spell</key>
		<string>Zhengzhou</string>
		<key>abbreviativeName</key>
		<string>ZZ</string>
		<key>Plcityid</key>
		<string>410100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>武汉</string>
		<key>spell</key>
		<string>Wuhan</string>
		<key>abbreviativeName</key>
		<string>WH</string>
		<key>Plcityid</key>
		<string>420100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>长沙</string>
		<key>spell</key>
		<string>Changsha</string>
		<key>abbreviativeName</key>
		<string>CS</string>
		<key>Plcityid</key>
		<string>430100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>广州</string>
		<key>spell</key>
		<string>Guangzhou</string>
		<key>abbreviativeName</key>
		<string>GZ</string>
		<key>Plcityid</key>
		<string>440100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>深圳</string>
		<key>spell</key>
		<string>Shenzhen</string>
		<key>abbreviativeName</key>
		<string>SZ</string>
		<key>Plcityid</key>
		<string>440300</string>
	</dict>
	<dict>
		<key>name</key>
		<string>三亚</string>
		<key>spell</key>
		<string>Sanya</string>
		<key>abbreviativeName</key>
		<string>SY</string>
		<key>Plcityid</key>
		<string>460200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>重庆</string>
		<key>spell</key>
		<string>Chongqing</string>
		<key>abbreviativeName</key>
		<string>CQ</string>
		<key>Plcityid</key>
		<string>500100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>北京</string>
		<key>spell</key>
		<string>Beijing</string>
		<key>abbreviativeName</key>
		<string>BJ</string>
		<key>Plcityid</key>
		<string>110100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天津</string>
		<key>spell</key>
		<string>Tianjing</string>
		<key>abbreviativeName</key>
		<string>TJ</string>
		<key>Plcityid</key>
		<string>120100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>上海</string>
		<key>spell</key>
		<string>Shanghai</string>
		<key>abbreviativeName</key>
		<string>SH</string>
		<key>Plcityid</key>
		<string>310100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>成都</string>
		<key>spell</key>
		<string>Chengdu</string>
		<key>abbreviativeName</key>
		<string>CD</string>
		<key>Plcityid</key>
		<string>510100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>香港</string>
		<key>spell</key>
		<string>xianggang</string>
		<key>abbreviativeName</key>
		<string>xg</string>
		<key>Plcityid</key>
		<string>659001</string>
	</dict>
	<dict>
		<key>name</key>
		<string>西安</string>
		<key>spell</key>
		<string>Xian</string>
		<key>abbreviativeName</key>
		<string>XA</string>
		<key>Plcityid</key>
		<string>610100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>澳门</string>
		<key>spell</key>
		<string>AOMEN</string>
		<key>abbreviativeName</key>
		<string>AM</string>
		<key>Plcityid</key>
		<string>659002</string>
	</dict>
</array>
</plist>
